{% extends 'base.html' %}
{% load static %}
{% block content %}

<p></p>

<div class = "container-fluid">
    <div class="card">
        
        <div class="card-body">
          <h4 class="card-title">ログイン</h4>

          <div class="form-group">
            <form method="post">
                {% csrf_token %}

                {% for field in form %}

                    <label for="{{ field.id_for_label }}">
                        {{ field.label_tag }}
                    </label>
                    <div>
                        {{ field }}
                    </div>
                {% endfor %}

      
                <button type="submit" class="btn btn-primary">ログイン</button>
            </form>
        </div>
          <p></p>
          <p>アカウントをお持ちでない方は<a href = "#">こちら</a>から</p>
        </div>
    
    </div>
</div>

{% endblock %}