{% extends 'base.html' %}
{% load static %}
{% block content %}


<p></p>

<div class = "container-fluid">


    <div class="card">
        <div class="card-body">
          <h4 class="card-title">新規作成</h4>

          <div class="form-group">
            <label for="text1">ユーザ:</label>
            <input type="text" id="text1" name = "userName" class="form-control">
          </div>
          <div class="form-group">
            <label for="passwd1">パスワード:</label>
            <input type="password" id="passwd1" name = "userPassword" class="form-control">
          </div>

          <div class="form-group">
            <label for="passwd1">パスワード(確認):</label>
            <input type="password" id="passwd1" name = "userPassword2" class="form-control">
          </div>
          <button type="button" class="btn btn-secondary">アカウント作成</button>

          <p></p>
         
        </div>
      </div>

    

      
<form method='POST'>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type='submit'>Send</button>
</form>

</div>
{% endblock %}