{% extends 'base.html' %}
{% load static %}
{% block content %}

<p></p>

<script>
    var times = new Array();
    var areas = [
    {% for area in activities %}
    {{area.working_time}},
    {% endfor %}
    ];
    console.log(areas);   
    areas.reverse();   

</script>

<script>
  for(var i = 0; i < areas.length; i++) {
    times.push(areas[i] / 60);
    console.log(times[i]);   
  }
</script>

<script>
  for(var i = 0; i < areas.length; i++) {
    areas[i] /= 60;
    areas[i] = areas[i] | 0;
  }
</script>




<script>
     var days = [
    {% for area in activities %}
    "",
    {% endfor %}
    ];

    console.log(days);   
    days.reverse();   

</script>

<div class = "container-fluid p-5">
    <div class = "card">
    <p></p>
    <div class="container">
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>

<p></p>

  <div class = "container-fluid p-5">
    <table border = "1" class = "my-table">
        <tr>
            <th>開始時刻</th>
            <th>終了時刻</th>
            <th>作業時間(分)</th>
            <th>作業時間(秒)</th>
        </tr>
        {% for activity in activities %}
        <tr>
            <td>{{ activity.start_time|date:"Y/n/j H:i:s" }}</td>
            <td>{{ activity.finish_time|date:"Y/n/j H:i:s" }}</td>
    
            <script>
              var minute = {{ activity.working_time}};
              minute /= 60;
              minute  = minute | 0;
              document.write(`<td>${minute}</td>`);

              var second = {{ activity.working_time }};
              second %= 60;
              second = second | 0;
              document.write(`<td>${second}</td>`);
            </script>
        
        </tr>
        {% endfor %}
    </table>
        </div>
    </div>

</div>

<div class = "hoge">
</div>

<script>


</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: days,
    datasets: [{
      label: "作業時間(分)",
      data: times,
      backgroundColor: "rgba(255,0,0,0.4)"
    }]
  }
});

</script>

<style>
  .my-table {
    text-align: center;
  }

</style>

{% endblock %}


