{% extends 'base.html' %}
{% load static %}
{% block content %}

<p></p>

<script>
    var data = new Array();
    var areas = [
    {% for area in activities %}
    {{area.study_time}},
    {% endfor %}
    ];
    console.log(areas);   
    areas.reverse();   

</script>

<script>
     var days = [
    {% for area in activities %}
    "",
    {% endfor %}
    ];

    console.log(days);   
    days.reverse();   


</script>

<div class = "container-fluid">
    <div class = "card">
    <p></p>
    <div class = "container-fluid">
<table border = "1">
    <tr>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>作業時間</th>
    </tr>
    {% for activity in activities %}
    <tr>
        <td>{{ activity.start_time|date:"Y/n/j H:i:s" }}</td>
        <td>{{ activity.finish_time|date:"Y/n/j H:i:s" }}</td>
        <td>{{ activity.study_time }}</td>
    
    </tr>
    {% endfor %}
</table>
    </div>
<p></p>
<div class="container">
    <div>
      <canvas id="myChart"></canvas>
    </div>
  </div>
    </div>

</div>

<div class = "hoge">
</div>

<script>


</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: days,
    datasets: [{
      label: "作業時間(分)",
      data: areas,
      backgroundColor: "rgba(255,0,0,0.4)"
    }]
  }
});

</script>

{% endblock %}


